/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}


/* Header Styles */

.hero-banner {
  background: url("./img/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Supporting Section Styles */


/* Info Section Styles */


/* Footer Styles */
